includes:
    - vendor/brandembassy/coding-standard/default-phpstan.neon

parameters:
    ignoreErrors:
        -
            message: '#Calling once without Mockery\\Adapter\\Phpunit\\MockeryPHPUnitIntegration trait.#'
            path: src/MockeryTools/Http/HttpClientMockBuilder.php
