<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/10.0/phpunit.xsd"
         bootstrap="vendor/autoload.php"
         cacheDirectory="./var/.phpunit.result.cache"
         colors="true"
         executionOrder="depends,defects"
         requireCoverageMetadata="false"
         beStrictAboutCoverageMetadata="true"
         beStrictAboutOutputDuringTests="true"
         failOnRisky="true"
         failOnWarning="true">
    <testsuites>
        <testsuite name="Tests">
            <directory suffix="Test.php">src</directory>
        </testsuite>
    </testsuites>
    <coverage>
        <include>
            <directory suffix=".php">./src</directory>
        </include>
        <exclude>
            <directory>./vendor</directory>
        </exclude>
        <report>
            <html outputDirectory="./var/code-coverage" lowUpperBound="50" highLowerBound="80"/>
        </report>
    </coverage>
    <logging>
        <testdoxHtml outputFile="./var/code-coverage/index.html"/>
    </logging>
</phpunit>
